<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title layout:title-pattern="$CONTENT_TITLE - Sistema de Estoque">Título Base</title>

    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-gray-100">

    <header class="bg-blue-600 text-white p-4 shadow-md flex justify-between gap-2">
        <div class="container mx-auto">
            <h1 class="text-2xl font-bold">Sistema de Estoque</h1>
        </div>
        <a th:href="@{/profile}" sec:authorize="isAuthenticated()"
           class="bg-blue-600 hover:bg-blue-700 inline-block align-baseline text-white py-2 px-4 rounded">
            <i class="fas fa-user"></i>
        </a>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Sair
                </button>
            </form>
        </div>
    </header>

    <div sec:authorize="isAuthenticated()" class="flex justify-center p-4 gap-2">
        <a th:href="@{/}"
           class="bg-blue-600 hover:bg-blue-700 inline-block align-baseline text-white py-2 px-4 rounded">
            Home
        </a>
        <a th:href="@{/products}"
           class="bg-blue-600 hover:bg-blue-700 inline-block align-baseline text-white py-2 px-4 rounded">
            Produtos
        </a>
        <a th:href="@{/categories}"
           class="bg-blue-600 hover:bg-blue-700 inline-block align-baseline text-white py-2 px-4 rounded">
            Categorias
        </a>
        <a th:href="@{/locations}"
           class="bg-blue-600 hover:bg-blue-700 inline-block align-baseline text-white py-2 px-4 rounded">
            Locais
        </a>
        <a th:href="@{/stocks}"
           class="bg-blue-600 hover:bg-blue-700 inline-block align-baseline text-white py-2 px-4 rounded">
            Estoque
        </a>
    </div>

    <main class="container mx-auto p-4 my-1 bg-white rounded-lg shadow">
        <main layout:fragment="content">
            <!-- O conteúdo específico da página vai aqui -->
        </main>
    </main>

    <footer class="text-center p-4 text-gray-600 mt-auto">
        <p>&copy; 2025 - Sistema de Estoque</p>
    </footer>

</body>
</html>